.nav
	#title
		h1: a(href='/') Create-A-Poll
	.btn-action
		button#new-poll-btn New Poll
		if user
			a(href='/user/logout'): button#logout-btn Logout
		else
			button#signup-btn Sign Up
			button#signin-btn Sign In
#signup-form(style="display: none;")
	#signin-n-signup
		form(method='post', action='/user/create')
			input(name='username', type='text', placeholder='Username')
			input(name='password', type='password', placeholder='Password')
			input#sign-up-opt(name='submit', type='submit', value='Sign Up')
#signin-form(style="display: none;")
	#signin-n-signup
		form(method='post', action='/')
			input(name='username', type='text', placeholder='Username')
			input(name='password', type='password', placeholder='Password')
			input#sign-in-opt(name='submit', type='submit', value='Sign In')