extends ../layout

block content
	.form-area
		.form
			h1#show-poll-title= !notfound ? poll.title : 'POLL NOT FOUND'
			if !notfound
				form(method='post', action="#")
					each answer in poll.answers
						.poll-answer
							input(type="radio" name="answer" value=(answer) )
							| #{answer}
							h5 votes: 0
					input#vote-btn(name='submit', type='submit', value='Vote')