extends ../layout

block content
	.form-area
		.form
			h1#show-poll-title= !notfound ? poll.title : 'POLL NOT FOUND'
			if !notfound
				form(method='post', action=`/poll/${poll._id}/vote`)
					each answer, i in poll.answers
						.poll-answer
							input(type="radio" name="answer" value=(answer._id) )
							| #{answer.body}
							h5 votes: #{answer.votes}
					div.show-poll-actions
						if user === poll.creator
							input#delete-btn(postId= poll._id, type='submit', value='Delete')
							input#edit-btn(postId= poll._id, type='submit', value='Edit')
						input#vote-btn(name='submit', type='submit', value='Vote')
